{% extends 'myApp/base.html' %}
{% load static %}
{% block content %}
   <div class="container">
   <div class="columns_about">
        <div class="photo_about">
            <a href="#" class="imgs_about"><img src="{% static 'images/perfume4.jfif' %}"></a>
            </div>
        </div>
    </div>
      <div class="container">
        <div class="phrase_about">
            <div class="head_about">Our story</div>
            <div class="text_about">
            A leader in prestige omni-retail, our purpose at Aroma Brands is to create a welcoming beauty shopping experience and inspire fearlessness in our community.

We operate over 2,700 stores in 35 countries worldwide, with an expanding base of over 500 stores across the Americas. Since opening our first US store in New York’s SoHo neighborhood in 1998, Aroma Brands has been an industry-leading champion of diversity, inclusivity, and empowerment in the US, guided by our longstanding company values. In 2019, Aroma Brands announced a new tagline and manifesto, “We Belong to Something Beautiful,” to reinforce our dedication to fostering belonging among all clients and employees and to publicly strive for a more inclusive vision for retail in the Americas.

Owned by LVMH Moët Hennessy Louis Vuitton, the world’s leading luxury goods group, Aroma Brands was founded in France by Symbat Zhunisbayeva and Aiaru Sailau in 1970 and is defined by its unique, open-sell environment with an ever-increasing assortment of products from carefully curated brands, featuring indie darlings, emerging favorites, trusted classics, and Aroma Brands’s own line, Aroma Brands Collection.

Aroma Brands has been recognized by Forbes as one of America’s Best Employers three years in a row, in 2018, 2019, and 2020. For two years in a row, in 2019 and 2020, Aroma Brands scored 100% on the Human Rights Campaign’s Corporate Quality Index, the national benchmarking tool on corporate policies and practices pertinent to LGBTQ+ employees.
            </div>
        </div>
    </div>


    <div class="container">
    <div class="for_card">
    <div class="card" style="width:450px">
  <img class="card-img-top" src="{% static 'images/Symbat.jpg' %}" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Symbat Zhunisbayeva</h4>
    <p class="card-text">CFO</p>
    <div class="social">
                <a href="https://instagram.com/aiarush.t?utm_medium=copy_link"><img src="{% static 'images/inst.png' %}" alt=""></a>
                <a href="https://instagram.com/aiarush.t?utm_medium=copy_link"><img src="{% static 'images/face.png' %}" alt=""></a>
                <a href="https://instagram.com/aiarush.t?utm_medium=copy_link"><img src="{% static 'images/goo.png' %}" alt=""></a>
                <a href="https://instagram.com/aiarush.t?utm_medium=copy_link"><img src="{% static 'images/pint.png' %}" alt=""></a>
    </div>
  </div>
</div>
    <div class="card" style="width:450px">
  <img class="card-img-top" src="{% static 'images/Aiaru.jpg' %}" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Aiaru Sailau</h4>
    <p class="card-text">CEO</p>
    <div class="social">
                <a href="https://instagram.com/symbvvt?utm_medium=copy_link"><img src="{% static 'images/inst.png' %}" alt=""></a>
                <a href="https://instagram.com/symbvvt?utm_medium=copy_link"><img src="{% static 'images/face.png' %}" alt=""></a>
                <a href="https://instagram.com/symbvvt?utm_medium=copy_link"><img src="{% static 'images/goo.png' %}" alt=""></a>
                <a href="https://instagram.com/symbvvt?utm_medium=copy_link"><img src="{% static 'images/pint.png' %}" alt=""></a>
    </div>
  </div>
</div>
    </div>
    </div>
{% endblock %}