{% extends 'myApp/base.html' %}
{% load static %}
{% block content %}
<!-- Main content   -->
    <div class="container">
        <div class="products">
            <div class="title">men's fragrances</div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/dolcemen1.png' %}"></a><br>
                <a href="#"><div class="brand">DOLCE&GABBANA<br></div></a>
                <a href="#"><div class="name_perfume">Light Blue Eau<br></div></a>
                <a href="#"><div class="price">$128.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/dolcemen2.png' %}"></a><br>
                <a href="#"><div class="brand">DOLCE&GABBANA<br></div></a>
                <a href="#"><div class="name_perfume">The One For Men<br></div></a>
                <a href="#"><div class="price">$122.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/dolcemen3.png' %}"></a><br>
                <a href="#"><div class="brand">DOLCE&GABBANA<br></div></a>
                <a href="#"><div class="name_perfume">Pour Homme<br></div></a>
                <a href="#"><div class="price">$92.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/guccimen1.png' %}"></a><br>
                <a href="#"><div class="brand">GUCCI<br></div></a>
                <a href="#"><div class="name_perfume">Guilty Absolute Pour Homme<br></div></a>
                <a href="#"><div class="price">$138.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/guccimen2.png' %}"></a><br>
                <a href="#"><div class="brand">GUCCI<br></div></a>
                <a href="#"><div class="name_perfume">Gucci By Gucci Pour Homme<br></div></a>
                <a href="#"><div class="price">$91.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/guccimen3.png' %}"></a><br>
                <a href="#"><div class="brand">GUCCI<br></div></a>
                <a href="#"><div class="name_perfume">Guilty Black Pour Homme<br></div></a>
                <a href="#"><div class="price">$100.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/tommen1.png' %}"></a><br>
                <a href="#"><div class="brand">TOM FORD<br></div></a>
                <a href="#"><div class="name_perfume">Ombré Leather<br></div></a>
                <a href="#"><div class="price">$190.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/tommen2.png' %}"></a><br>
                <a href="#"><div class="brand">TOM FORD<br></div></a>
                <a href="#"><div class="name_perfume">Noir Extreme<br></div></a>
                <a href="#"><div class="price">$190.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/tommen3.png' %}"></a><br>
                <a href="#"><div class="brand">TOM FORD<br></div></a>
                <a href="#"><div class="name_perfume">Black Orchid Parfum<br></div></a>
                <a href="#"><div class="price">$205.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>

            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/armaniimen1.png' %}"></a><br>
                <a href="#"><div class="brand">ARMANI BEAUTY<br></div></a>
                <a href="#"><div class="name_perfume">Acqua Di Gio Profumo<br></div></a>
                <a href="#"><div class="price"> $142.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/armaniimen2.png' %}"></a><br>
                <a href="#"><div class="brand">ARMANI BEAUTY<br></div></a>
                <a href="#"><div class="name_perfume">EMPORIO ARMANI<br></div></a>
                <a href="#"><div class="price">$79.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/armaniimen3.png' %}"></a><br>
                <a href="#"><div class="brand">ARMANI BEAUTY<br></div></a>
                <a href="#"><div class="name_perfume">Armani Code Eau de Parfum<br></div></a>
                <a href="#"><div class="price"> $120.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>

            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/chanelmen1.png' %}"></a><br>
                <a href="#"><div class="brand">CHANEL<br></div></a>
                <a href="#"><div class="name_perfume">BLEU DE CHANEL<br></div></a>
                <a href="#"><div class="price">$165.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
             <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/chanelmen2.png' %}"></a><br>
                <a href="#"><div class="brand">CHANEL<br></div></a>
                <a href="#"><div class="name_perfume">ALLURE HOMME SPORT<br></div></a>
                <a href="#"><div class="price">$128.00</div></a>
                 <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
             <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/chanelmen3.png' %}"></a><br>
                <a href="#"><div class="brand">CHANEL<br></div></a>
                <a href="#"><div class="name_perfume">BLEU DE CHANEL<br></div></a>
                <a href="#"><div class="price">$130.00</div></a>
                 <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
        </div>
    </div>

{% endblock %}