{% extends 'myApp/base.html' %}
{% load static%}
{% block content %}
<!-- Main content   -->
     <div class="main_img">
        <img src="{% static 'images/neww.jfif' %}">
    </div>
    <div class="container">
        <div class="products">
                <div class="title">new products</div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/new1.png' %}"></a><br>
                <a href="#"><div class="brand">DOLCE&gabbana<br></div></a>
                <a href="#"><div class="name_perfume">Light Blue Spray<br></div></a>
                <a href="#"><div class="price">$29.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/new2.png' %}"></a><br>
                <a href="#"><div class="brand">burberry<br></div></a>
                <a href="#"><div class="name_perfume"> Burberry Perfume Set<br></div></a>
                <a href="#"><div class="price">$49.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/new3.png' %}"></a><br>
                <a href="#"><div class="brand">Glow Recipe<br></div></a>
                <a href="#"><div class="name_perfume">Watermelon Mist<br></div></a>
                <a href="#"><div class="price">$28.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/new4.png' %}"></a><br>
                <a href="#"><div class="brand">tatcha<br></div></a>
                <a href="#"><div class="name_perfume">Cleanser<br></div></a>
                <a href="#"><div class="price">$57.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/new5.png' %}"></a><br>
                <a href="#"><div class="brand">Caudalie<br></div></a>
                <a href="#"><div class="name_perfume">Face Mist<br></div></a>
                <a href="#"><div class="price">$32.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/new6.png' %}"></a><br>
                <a href="#"><div class="brand">Biossance<br></div></a>
                <a href="#"><div class="name_perfume">Gentle Cleanser<br></div></a>
                <a href="#"><div class="price">$26.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/new7.png' %}"></a><br>
                <a href="#"><div class="brand">Biossance<br></div></a>
                <a href="#"><div class="name_perfume">Lip Balm<br></div></a>
                <a href="#"><div class="price">$135.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/new8.png' %}"></a><br>
                <a href="#"><div class="brand">Caudalie<br></div></a>
                <a href="#"><div class="name_perfume">Clay Mask<br></div></a>
                <a href="#"><div class="price">$39.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/new9.png' %}"></a><br>
                <a href="#"><div class="brand">dolce&gabbana<br></div></a>
                <a href="#"><div class="name_perfume">Perfume Set<br></div></a>
                <a href="#"><div class="price">$45.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>

        </div>
    </div>
{% endblock %}