{% extends 'myApp/base.html' %}
{% load static%}
{% block content %}
<!-- Main content   -->
     <div class="main_img">
        <img src="{% static 'images/saless.jfif' %}">
    </div>
    <div class="container">
        <div class="products">
                <div class="title">products on sale</div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/sales1.png' %}"></a><br>
                <a href="#"><div class="brand">The Ordinary<br></div></a>
                <a href="#"><div class="name_perfume"> Peeling Solution<br></div></a>
                <a href="#"><div class="price">$19.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/sales2.jpg' %}"></a><br>
                <a href="#"><div class="brand">Dr Botanicals<br></div></a>
                <a href="#"><div class="name_perfume"> Body Oil<br></div></a>
                <a href="#"><div class="price">$57.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/sales3.jfif' %}"></a><br>
                <a href="#"><div class="brand">Vitruvi<br></div></a>
                <a href="#"><div class="name_perfume">Sleep Blend<br></div></a>
                <a href="#"><div class="price">$32.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/sales4.png' %}"></a><br>
                <a href="#"><div class="brand">prada<br></div></a>
                <a href="#"><div class="name_perfume">Candy Sugar Parfum<br></div></a>
                <a href="#"><div class="price">$96.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/sales5.jpg' %}"></a><br>
                <a href="#"><div class="brand">Armani Beauty<br></div></a>
                <a href="#"><div class="name_perfume">Sky di Gioia<br></div></a>
                <a href="#"><div class="price">$49.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/new6.png' %}"></a><br>
                <a href="#"><div class="brand">Biossance<br></div></a>
                <a href="#"><div class="name_perfume">Gentle Cleanser<br></div></a>
                <a href="#"><div class="price">$26.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/chanel1.png' %}"></a><br>
                <a href="#"><div class="brand">CHANEL<br></div></a>
                <a href="#"><div class="name_perfume">CHANCE EAU TENDRE<br></div></a>
                <a href="#"><div class="price">$115.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/chanelmen1.png' %}"></a><br>
                <a href="#"><div class="brand">CHANEL<br></div></a>
                <a href="#"><div class="name_perfume">BLEU DE CHANEL<br></div></a>
                <a href="#"><div class="price">$165.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/sales9.jpg' %}"></a><br>
                <a href="#"><div class="brand">Indie Lee<br></div></a>
                <a href="#"><div class="name_perfume"> Rosehip Cleanser<br></div></a>
                <a href="#"><div class="price">$34.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>

        </div>
    </div>
{% endblock %}