{% extends 'myApp/base.html' %}
{% load static%}
{% block content %}
<!-- Main content   -->
     <div class="main_img">
        <img src="{% static 'images/skincaree.png' %}">
    </div>
    <div class="container">
        <div class="products">
                <div class="title">Skin care products</div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/skin1.png' %}"></a><br>
                <a href="#"><div class="brand">DOLCE&gabbana<br></div></a>
                <a href="#"><div class="name_perfume">Light Blue Cream<br></div></a>
                <a href="#"><div class="price">$55.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/skin2.png' %}"></a><br>
                <a href="#"><div class="brand">DIOR<br></div></a>
                <a href="#"><div class="name_perfume"> Age-Delay Cream<br></div></a>
                <a href="#"><div class="price">$95.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/skin3.png' %}"></a><br>
                <a href="#"><div class="brand">LA MER<br></div></a>
                <a href="#"><div class="name_perfume">The Hydrating Emulsion<br></div></a>
                <a href="#"><div class="price">$230.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/skin4.png' %}"></a><br>
                <a href="#"><div class="brand">GUCCI<br></div></a>
                <a href="#"><div class="name_perfume">Silk Priming Serum<br></div></a>
                <a href="#"><div class="price">$57.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/skin5.png' %}"></a><br>
                <a href="#"><div class="brand">DR. JART+<br></div></a>
                <a href="#"><div class="name_perfume">Teatreement™ Moisturizer<br></div></a>
                <a href="#"><div class="price">$32.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/elemis.png' %}"></a><br>
                <a href="#"><div class="brand">ELEMIS<br></div></a>
                <a href="#"><div class="name_perfume">Monoi Body Oil<br></div></a>
                <a href="#"><div class="price">$56.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/skin7.png' %}"></a><br>
                <a href="#"><div class="brand">LA MER<br></div></a>
                <a href="#"><div class="name_perfume">The Treatment Lotion<br></div></a>
                <a href="#"><div class="price">$135.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/elemisprocollagen.png' %}"></a><br>
                <a href="#"><div class="brand">ELEMIS<br></div></a>
                <a href="#"><div class="name_perfume">Pro-collagen serum<br></div></a>
                <a href="#"><div class="price">$95.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/skin8.png' %}"></a><br>
                <a href="#"><div class="brand">ARMANI BEAUTY<br></div></a>
                <a href="#"><div class="name_perfume">Neo Nude Ecstasy Balm<br></div></a>
                <a href="#"><div class="price">$38.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>

        </div>
    </div>
{% endblock %}