{% extends 'myApp/base.html' %}
{% load static%}
{% block content %}
<!-- Main content   -->
    <div class="container">
        <div class="products">
            <div class="title">women's fragrances</div>

            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/dolce1.png' %}"></a><br>
                <a href="#"><div class="brand">DOLCE&GABBANA<br></div></a>
                <a href="#"><div class="name_perfume">Dolce Eau de Parfum<br></div></a>
                <a href="#"><div class="price">$122.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/dolce2.png' %}"></a><br>
                <a href="#"><div class="brand">DOLCE&GABBANA<br></div></a>
                <a href="#"><div class="name_perfume">The Only One Eau de Parfum<br></div></a>
                <a href="#"><div class="price">$122.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/dolce3.png' %}"></a><br>
                <a href="#"><div class="brand">DOLCE&GABBANA<br></div></a>
                <a href="#"><div class="name_perfume">3 L’IMPERATRICE <br></div></a>
                <a href="#"><div class="price">$82.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/gucci1.png' %}"></a><br>
                <a href="#"><div class="brand">GUCCI<br></div></a>
                <a href="#"><div class="name_perfume">Flora By Gucci <br></div></a>
                <a href="#"><div class="price">$115.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/gucci2.png' %}"></a><br>
                <a href="#"><div class="brand">GUCCI<br></div></a>
                <a href="#"><div class="name_perfume">Bloom Eau de Parfum For Her<br></div></a>
                <a href="#"><div class="price">$138.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/gucci3.png' %}"></a><br>
                <a href="#"><div class="brand">GUCCI<br></div></a>
                <a href="#"><div class="name_perfume">Guilty Love Parfum<br></div></a>
                <a href="#"><div class="price">$108.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/tom1.png' %}"></a><br>
                <a href="#"><div class="brand">TOM FORD<br></div></a>
                <a href="#"><div class="name_perfume">Lost Cherry<br></div></a>
                <a href="#"><div class="price">$499.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/tom2.png' %}"></a><br>
                <a href="#"><div class="brand">TOM FORD<br></div></a>
                <a href="#"><div class="name_perfume">Velvet Orchid<br></div></a>
                <a href="#"><div class="price">$190.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/tom3.png' %}"></a><br>
                <a href="#"><div class="brand">TOM FORD<br></div></a>
                <a href="#"><div class="name_perfume">Bitter Peach Eau De Parfum<br></div></a>
                <a href="#"><div class="price">$368.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>

            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/armanii2.png' %}"></a><br>
                <a href="#"><div class="brand">ARMANI BEAUTY<br></div></a>
                <a href="#"><div class="name_perfume">My Way Eau de Parfum<br></div></a>
                <a href="#"><div class="price">$128.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/armanii3.png' %}"></a><br>
                <a href="#"><div class="brand">ARMANI BEAUTY<br></div></a>
                <a href="#"><div class="name_perfume">Acqua di Gioia<br></div></a>
                <a href="#"><div class="price">$101.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/armanii1.png' %}"></a><br>
                <a href="#"><div class="brand">ARMANI BEAUTY<br></div></a>
                <a href="#"><div class="name_perfume">Sì Eau de Parfum<br></div></a>
                <a href="#"><div class="price">$128.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>

            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/chanel1.png' %}"></a><br>
                <a href="#"><div class="brand">CHANEL<br></div></a>
                <a href="#"><div class="name_perfume">CHANCE EAU TENDRE<br></div></a>
                <a href="#"><div class="price">$115.00</div></a>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
             <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/chanel2.png' %}"></a><br>
                <a href="#"><div class="brand">CHANEL<br></div></a>
                <a href="#"><div class="name_perfume">COCO MADEMOISELLE<br></div></a>
                <a href="#"><div class="price">$138.00</div></a>
                 <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
             <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/chanel3.png' %}"></a><br>
                <a href="#"><div class="brand">CHANEL<br></div></a>
                <a href="#"><div class="name_perfume">N°5 Eau de Parfum<br></div></a>
                <a href="#"><div class="price">$138.00</div></a>
                 <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
        </div>
    </div>
{% endblock %}